@import '../../vendor/filament/filament/resources/css/app.css';

/* .bg-primary-500 {
    background-color: #01411c;
}

.text-primary-500{
    color:#01411c;
}

.filament-dropdown-list-item:hover{
    background-color: #01411c;
}

.hover\:bg-primary-500:hover{
    background-color: #01411c !important;
} */
